*                       @codelipenghui @yjshen @sijie

connectors/spark/*      @yjshen
connectors/spark-all/*  @yjshen
connectors/hive/*       @codelipenghui @sijie
connectors/hive-all/*   @codelipenghui @sijie
