name: Pulsar-Spark Release

on:
  release:
    types: [created]

jobs:
  upload:
    name: Upload Release files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 1.8
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 8

      - uses: actions/checkout@v2
        with:
          repository: streamnative/streamnative-ci
          token: ${{ secrets.SNBOT_GITHUB_TOKEN }}
          ref: master
          path: ci

      - name: Import GPG key
        run: |
          ci/.github/bot/setup-git.sh

      - name: Release Maven package
        uses: samuelmeuli/action-maven-publish@v1
        with:
          nexus_username: ${{ secrets.SONATYPE_USERNAME }}
          nexus_password: ${{ secrets.SONATYPE_PASSWORD }}
          server_id: ossrh
          maven_profiles: release
          maven_goals_phases: clean deploy
          maven_args: -DskipTests
